{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center justify-content-sm-start">
        <h1>Leaderboard</h1>
    </div>
    <div class="px-3 d-none d-sm-block">
        <p class="lead">
            The current standings
        </p>
    </div>
    <div class="px-3 d-none d-md-block">
        <p>
            The leaderboard is calculated every few minutes, and your browser should automatically show any
            new results. There is no need to refresh this page
        </p>
    </div>

    {% macro leaderboard_entry(position, name, wins, losses, draws, wld, score, is_header, is_you, is_bot) %}
    <div class="p-1 px-md-3" id="leaderboard-entry-{{- position }}">
        <div class="px-lg-5 d-flex justify-content-center">
            <div class="max-width-center d-flex w-100 flex-row p-2 p-md-3 leaderboard-submission
            {% if is_header %} border-bottom fw-bold {% elif is_you %} leaderboard-user-submission
            {% elif is_bot %} leaderboard-bot-submission {% else %} leaderboard-other-submission {% endif %}">
                <div class="leaderboard-position">
                    {{ position }}
                </div>
                <div class="leaderboard-name">
                    {{ name }}
                </div>
                <div class="leaderboard-wins leaderboard-kda d-none d-md-block">
                    {{ wins }}
                </div>
                <div class="leaderboard-losses leaderboard-kda d-none d-md-block">
                    {{ losses }}
                </div>
                <div class="leaderboard-draws leaderboard-kda d-none d-md-block">
                    {{ draws }}
                </div>
                <div class="leaderboard-kda d-none d-sm-block d-md-none">
                    {{ wld }}
                </div>
                <div class="leaderboard-spacer d-none d-lg-block">
                </div>
                <div class="leaderboard-score">
                    {{ score }}
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}
    {% macro all_leaderboard(items) %}
        {{ leaderboard_entry("Position", "Name", "Wins", "Losses", "Draws", "W/L/D", "Score", True, False, False) }}
        {% for item in items %}
            {{ leaderboard_entry(loop.index, item.user.display_name,
            human_format(item.outcomes.wins), human_format(item.outcomes.losses), human_format(item.outcomes.draws),
            "%s/%s/%s" % (human_format(item.outcomes.wins), human_format(item.outcomes.losses), human_format(item.outcomes.draws)),
            "%.0f" % item.score, False, item.is_you, item.user.is_bot) }}
        {% endfor %}
    {% endmacro %}
    <div class="d-flex justify-content-center py-3 px-lg-2 mx-lg-3 mx-xl-5" id="overTimeChartContainer">

    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column py-2 flex-grow-1" id="leaderboard">
            {{ all_leaderboard(leaderboard) }}
        </div>
    </div>

    {{ import('scripts/leaderboard.js') }}
{% endblock %}
