{% extends "base.html" %}
{% block content %}
    <h2>
        Logging you out
    </h2>
    <div class="px-3">
        <p class="lead">
            You should be redirected in a few seconds. If that doesn't happen, <a href="/">click here</a>
        </p>
    </div>
{% endblock %}
{% block modal %}
    <!-- Google login -->
    <div class="g-signin2" data-width="10" data-height="10" data-onsuccess="Logout.onGoogleLoginSucc"
         data-onfailure="Logout.onGoogleLoginFail" hidden></div>
{% endblock %}