{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-start">
        <h1>Submissions</h1>
    </div>
    <div class="px-3 d-none d-sm-block">
        <p class="lead">
            Here you can see your previous submissions and make new ones.
        </p>
    </div>
    <!-- Submissions -->
    {% macro submission(number, id, date, active, selected) -%}
        <div class="px-lg-5 d-flex justify-content-center">
            <div class="max-width-center d-flex w-100 flex-row p-2 p-md-3 submission-entry {{ 'submission-entry-active' if active }} {{ 'submission-entry-selected' if selected }}">
                <div class="p-1 submission-index">
                    {{ number }}
                </div>
                <div class="p-1 submission-date d-none d-md-block">
                    Submitted {{ date.strftime('%d %b at %I:%M %p') }}
                </div>
                <div class="p-1 submission-date d-none d-sm-block d-md-none">
                    Submitted {{ date.strftime('%d/%m %H:%M') }}
                </div>
                <div class="p-1 submission-date d-sm-none">
                    {{ date.strftime('%d/%m %H:%M') }}
                </div>
                <div class="p-1 submission-active">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="enabledSwitch{{- id -}}"
                               {% if active %} checked {% endif %}
                               onchange="Submissions.setSubmissionEnabledSwitch(this, {{- id -}})">
                        <label class="custom-control-label" for="enabledSwitch{{- id -}}">{% if active %}Enabled{% else %}Disabled{% endif %}</label>
                    </div>
                </div>
            </div>
        </div>
    {%- endmacro %}
    {% macro all_submissions(items) -%}
        {% for item in items %}
            {{ submission((items|length - loop.index) + 1, item.submission_id, item.submission_date, item.active, item.submission_id == current_sub_id) }}
        {% endfor %}
    {%- endmacro %}
    <div class="d-flex flex-row">
        <div class="d-flex justify-content-center w-100 w-lg-50">
            <div class="d-flex flex-column mx-lg-4 my-3 my-lg-5 flex-grow-1" id="submissions">
                <div class="p-1">
                    <form action="/enable_js" id="submission-form" method="GET">
                        <div class="d-flex justify-content-center w-100">
                            <div class="d-flex max-width-center row">
                                <div class="col-md-2 d-none d-md-block my-auto">
                                    <label for="repo" class="my-auto text-right">Your Repository URL:</label>
                                </div>
                                <div class="col-12 col-md-8 my-auto">
                                    <input type="url" class="form-control" id="repo" placeholder="https://github.com/your/repo" required>
                                </div>
                                <div class="col-12 col-md-2 my-auto">
                                    <div class="d-flex w-100 justify-content-center justify-content-md-left">
                                        <button type="submit" class="btn btn-primary submission-submit-button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="justify-content-start justify-content-sm-center d-flex">
                        <div id="submission-error-msg"
                                 class="m-1 m-sm-3 p-2 bg-danger text-white text-center border border-danger rounded"
                                 style="display:none">
                                Something went wrong.
                        </div>
                    </div>
                </div>
                <div class="p-1 p-md-2">
                    {{ all_submissions(submissions) }}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/submissions.js') }}"
            integrity="{{ sri(url_for('static', filename='scripts/submissions.js')) }}"
            crossorigin="anonymous"></script>
{% endblock %}