html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.leaderboard-position {
  width: 25%;
  max-width: 80px;
}
.leaderboard-name {
  width: 50%;
}
.leaderboard-score {
  width: 25%;
  max-width: 80px;
}
