html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

#leaderboard {
}
.leaderboard-entry-child-container {
  max-width: 1000px;
}
.leaderboard-position {
  width: 100px;
  text-align: center;
}
.leaderboard-name {
  flex-grow: 1;
}
.leaderboard-score {
  width: 100px;
  text-align: end;
}
.leaderboard-submission {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  margin: 5px;
}
.leaderboard-user-submission {
  border-width: 6px;
  border-style: double;
  border-color: var(--bs-cyan);
  margin: 0;
}
.leaderboard-bot-submission {
  border-color: var(--bs-red);
}
.leaderboard-other-submission {
  border-color: var(--bs-secondary);
}
